<div class="example-container">
  <mat-form-field>
    <mat-label>Enter your name</mat-label>
    <input matInput placeholder="name" [formControl]="name" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Enter your email</mat-label>
    <input matInput placeholder="pat@example.com" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Enter your password</mat-label>
    <input matInput placeholder="password" type="password" [formControl]="password" required>
    <mat-error *ngIf="password.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <div class="example-button-row">
    <button mat-flat-button color="primary" (click)="doRegister()">Register</button>
  </div>
</div>
