<div class="example-container">
  <mat-form-field>
    <mat-label>Enter ID</mat-label>
    <input type="number" matInput placeholder="ID" [formControl]="newId" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Enter Name</mat-label>
    <input matInput placeholder="Name" [formControl]="newName" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Enter Amount</mat-label>
    <input type="number" matInput placeholder="Amount" [formControl]="newAmount" required>
  </mat-form-field>
  <div class="example-button-row">
    <button mat-flat-button color="primary" (click)="createBudget()">Create</button>
  </div>
</div>

<hr>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef> Amount </th>
    <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
